* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid maroon; */
    
}

section {
    margin: 0px;
    padding: 5vh;
    width: 100%;
    min-height: 30vh;
}




.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.rounded-4 {
    border-radius: 10px;
}

.wave{
    position: relative;
}

.bold {
    font-weight: bold;
}

/* ----------------- Section 1 ---------------*/

#section1 {
    background-color: rgb(233, 246, 252);
    display: flex;
    justify-content: space-around;
    /* padding: 20vh 0; */
    height: 55vh;
}

#introtext {
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Quicksand', sans-serif;
    
}
#introtext h1{
    font-size: 3rem;
}
#introtext h2{
    font-size: 2rem;
    color:rgb(90, 90, 90);
    margin-left: 5vw;
}

#profilepic {
    width: 20vw;
    height: 20vw;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(105, 156, 156);
    overflow: hidden;
    margin-right: 50px;
    margin-top: 10vh;
}

#section1-bottom{
    background-color: rgb(233, 246, 252);
    position: relative;
}

.custom-shape-divider-bottom-1643801296 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1643801296 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 186px;
}

.custom-shape-divider-bottom-1643801296 .shape-fill {
    fill: #043952;
}
/* ----------------- Section 2 ---------------*/

#section2 {
    background-color: rgb(4, 57, 82);
    display: flex;
    justify-content: space-between;
}


#about {
    max-width: 30vw;
    margin: 0 2vw;
    padding: 2vh 3vh;
}
#about p {}

#section2-right{
    width: 60vw;
    padding: 0 2vh;
}

#work {
    padding: 2vh 2vh;
    
}
#personal {
    margin: 0 0 3vh 0;
    padding: 2vh;
}


/* ----------------- Section 2.5 ----------------*/

#section2spacer{
    background-color: rgb(233, 246, 252);
    position: relative;
    min-height: 50vh;
}

#section2spacer h1{
    margin-top: 3vh;
}
#skills{
    display: flex;
    justify-content: center;
}

.skillbox{
    height: 15vh;
    width: 5vw;
    max-width: 5vw;
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 1.5vw;
}
#css3 {
    padding-top: 2px;
}


.custom-shape-divider-top-1643802244 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1643802244 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 59px;
}

.custom-shape-divider-top-1643802244 .shape-fill {
    fill: #043952;
}
.custom-shape-divider-bottom-1643802274 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1643802274 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 59px;
}

.custom-shape-divider-bottom-1643802274 .shape-fill {
    fill: #043952;
}

/* ----------------- Section 3 ----------------*/

#section3 {
    background-color: rgb(4, 57, 82);
    color: rgb(230, 230, 230);
}

.portfolio-container {
    margin: 3vh 0;
    display: flex;
    background-color: rgb(43, 43, 43);
    padding: 0 4vh;
    color: white;



}
.portfolio-side{
    margin: 5vh 2vh;
    width: 30vw;
    overflow: auto;
}
.carousel {
    margin: 5vh 2vh;
    width: 100%;
}
.carousel-inner {
    border-radius: 5px;
    border: 1px lightgrey solid;
}
.carousel-caption{
    padding-top: 0px;
    padding-bottom: 0px;

}
.carousel-caption h5 {
    
}
.carousel-caption p{

}
#carouselPortfolio3-container {
    margin: 0 10vw;
}

iframe{
    display: flex;
    justify-content: center;
    margin: auto;
}
.gfycat {
    max-height: 100px;
}


/* #expand-button{
    height: 60px;
    width: 60px;
    transform: rotate(90deg);
    filter: invert(100%);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:visible;
}
#expand-text{
    display: flex;
    position: relative;
    justify-content: center;
    top: 10px;
} */



/* ---------------Section 4 ---------------*/




#section4{
    background-color: rgb(37, 37, 37);
    color: rgb(201, 201, 201);
    min-height: 40vh;
}
#section4 header {
    text-align: center;
}
#contact{
    padding-top: 3vh;
    display: flex;
    justify-content: space-around;
    margin: 0 20vw;
}
#contact-lower{
    display: flex;
    justify-content: center;
    height: 12vh;
}
#contact-lower a{
    margin: 5px 20px;
}

/* ---------------------------------------
----------BOOTSTRAP STUFF-----------------
------------------------------------------ */


/* Section 2 - about/work/personal*/
.accordion-item{
    background-color: white;
    color: rgb(20, 20, 20);;
}
.accordion-button{
    background-color: rgb(240, 240, 240);
}
/* ^ Accordion button title color , Accordion buttle title color when expanded V */
.accordion-button:not(.collapsed){  
    background-color: rgb(206, 226, 226);
    color: black;
}

/* Section 3 - portfolio */

.carousel-caption{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 5px;

    border-radius: 20px;
}
.carousel-indicators [data-bs-target] {
    background-color: rgb(13, 142, 202);
}



/* Conditionals */

@media screen and (min-width: 1400px) {
    .portfolio-container{
        margin: 3vh 10vw;
    }
}